.vscode/
.github/
node_modules/
examples/
*.test.ts
*.tgz
*.config.js
*.config.mjs
bundle.ts
tsconfig.json
*.tsconfig.json
pretest.cjs
posttest.cjs
test-deno.ts
bundle/index.js
bundle/index.js.map
!bundle/worker.mjs
!bundle/worker-node.mjs
