.vscode/
.github/
node_modules/
*.test.ts
*.tgz
*.config.js
*.config.mjs
bundle.ts
tsconfig.json
pretest.cjs
posttest.cjs
job-example.cjs
job-example.mjs
bundle/index.js
bundle/index.js.map
!bundle/worker.mjs
!bundle/worker-web.mjs
