.*
node_modules/
examples/
*.test.ts
*.tgz
*.config.js
*.config.mjs
bundle.ts
bundle/jsext.*
types/bundle.d.ts
augment.md
*/augment.*
*/index.*
tsconfig*
mocha*
prepublish.mjs
postpublish.mjs
test-deno.ts
deno.json
deno.lock
lib.deno.d.ts
jsdom-setup.js
